body {
    background-image: url(./Images/Background\ image.png);
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold;
    
    /*gap: 17.6%;
    padding: 15px 40px;
    padding-right: 120px;*/
}

ul li a{
    display: block;
    text-shadow: 3px 3px 5px black;
    color: #9D8C54;
    padding: 12px 100px;
    text-decoration: none;
    font-size: xx-large;
}
    

ul li a:hover {
  color: aliceblue;
  background-color: navy;
  text-decoration: none;      
  border-bottom: 2px solid gold; 
  padding-bottom: 12px;
  transition-duration: 0.25s; 
}
img{
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

h1{
    color: #9D8C54;
    padding-left: 15px;
    text-decoration: underline;
    font-size: 45px;
    
}

.project a{
    text-decoration: none;
    font-size: large;

}

.project{
    background-color: white;
    position: fixed;
    width: 250px;
    height: 100px;
    top: 290px;
    left: 200px;
    background-image: url(./Images/button\ bg.jpg);
    border-radius: 20px;
    border-color: #9D8C54;
}

.cv a{
    text-decoration: none;
    font-size: large;

}

.cv{
    background-color: white;
    position: fixed;
    width: 250px;
    height: 100px;
    top: 530px;
    left: 200px;
    background-image: url(./Images/button\ bg.jpg);
    border-radius: 20px;
    border-color: #9D8C54;
}

.arrow{
    position: fixed;
    top: 280px;
    left: 0;
}
/*.arrow1{
    top: 520px;
    left: 0;
}
*/
p{
    color: #9D8C54;
    text-align: center;
    font-size: x-large;
}

ul li a.active {
  border-bottom: 2px solid #9D8C54; /* Shows a permanent line under the current page */
  font-weight: bold;
}

.message{
    position: fixed;
    bottom: 10px;
    left: 40%;
    width: auto;
    height: 70px;
    border-radius: 30px;
    text-decoration: underline dotted;
    display: flex;
    align-items: center; 
    justify-content: center;
    white-space: nowrap;
    padding: 0 20px;
}

/* CV PAGE */
div{
    font-size: 40px;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    height: auto;
    font-family: "serif", Times, "Times New Roman";
    text-align: center;
}
/*#cv_heading{
    font-size: x-large;
    text-decoration: none;
    color: black;
    text-align: center;
}*/